body{
  font-family: Arial, sans-serif;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container{
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.input-area{
  display: flex;
  gap: 10px;
}

#taskInput{
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#addBtn{
  padding: 10px 20px;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li button{
  margin-left: 10px;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
}

li button:nth-child(2){
  background-color: #3498db;
}


li button:nth-child(3){
  background-color: #e74c3c;
}

li button:nth-child(2):hover{
  background-color: #2980b9;
}

li button:nth-child(3):hover{
  background-color: #c0392b;
}

/* .btn button{
  width:150px;
  height:45px;
  background:#4a90e2;
  border:none;
  border-radius:6px;
  color:white;
  font-size:18px;
  cursor:pointer;
} */
