body {
  background: #222;
  color: #fff;
  font-family: Arial;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #444;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #555;
}

.card.selected {
  background: #666;
}

.imageBox img {
  width: 100%;
  margin-top: 12px;
  border-radius: 10px;
}
