
.header {
    width: 100%;
    height: 100vh;
    background-image: url('istockphoto-1271759928-612x612.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    overflow: hidden;
}

.navbar {
    width: 100%;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.yellow-circle {
    width: 40px;
    height: 40px;
    background: #f4c20d;
    border-radius: 50%;
}


.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 1;
}


.right-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quote-btn {
    background: #f4c20d;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.quote-btn:hover {
    background: #f7d648;
}

.dots-btn {
    background: #ffffff;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}


.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.fade-title {
    font-size: 90px;
    font-weight: 700;
    opacity: 0.12;
    margin: 0;
    line-height: 1;
}


.main-title {
    font-size: 45px;
    font-weight: 800;
    margin-top: -30px;
    line-height: 1.3;
}
